/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* variables */
:root {
    /* colors */
    --light-background: #F8F8F8;
    --dark-background: #0c0c0c;
    --btn-colors: #E63946;
    --btn-hover-colors: #ff727e;
    --primary-text-light: #132E45;
    --primary-text-dark: #fff;
    --secondary-text: #6C757D;

    /* fonts */
    --nunito: "Nunito", sans-serif;
    --inter: "Inter", sans-serif;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
}

/* body settings */
.bodyLightTheme {
    background-color:  var(--light-background);
}

.bodyDarkTheme {
    background-color: var(--dark-background);
}

/* header settings */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.headerLightTheme {
    background-color: var(--light-background);
    box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.2);
}

.headerDarkTheme {
    background-color: var(--dark-background);
    box-shadow: 0 .4rem .5rem rgba(255, 255, 255, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
}

.logo img {
    width: 3rem;
}

h1 {
    font-family: var(--nunito);
    font-weight: 800;
    font-size: 1.5rem;
}

.titleLightTheme {
    color: var(--primary-text-light);
}

.titleDarkTheme {
    color: var(--primary-text-dark);
}

.destaque {
    color: var(--btn-colors);
}

.themeControls {
    display: flex;
    gap: .8rem;
    cursor: pointer;
    align-items: center;
}

.themeControls span {
    color: var(--secondary-text);
}

.themeControls input {
    display: none;
}

.slider {
    position: relative;
    width: 2rem;
    height: 1rem;
    background-color: var(--secondary-text);
    border-radius: 50rem;
    box-sizing: content-box;
    border: .2rem solid var(--secondary-text);
    transition: background 0.3s;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--light-background);
    transition: transform .1s;
}

input:checked + .slider::before {
    transform: translateX(1rem);
}

/* filter settings */
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.filter label {
    display: flex;
    border: .15rem solid var(--secondary-text);
    border-radius: 2rem 0 0 2rem;
    padding: .4rem;
}

.filter span {
    color: var(--secondary-text);
    margin-right: .3rem;
}

.filter input {
    font-family: var(--inter);
    font-size: 1rem;
    padding-left: .5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--secondary-text);
}

.filter button {
    padding: .65rem;
    background-color: var(--btn-colors);
    border: .15rem solid var(--btn-colors);
    border-radius: 0 2rem 2rem 0;
    font-family: var(--inter);
    font-weight: 700;
    color: var(--light-background);
    cursor: pointer;
}

.filter button:hover {
    background-color: var(--btn-hover-colors);
    border-color: var(--btn-hover-colors);
}

/* containerMovies settings */
.containerMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.cardMovie {
    position: relative;
    height: 21rem;
    width: 15rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: darkgray;
}

.cardMovie img {
    width: 15rem;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    transition: opacity .3s;
}

.cardMovie:hover .overlay {
    opacity: 1;
    background: linear-gradient(to top, #000000ce, #00000057);
}

.overlay h2 {
    font-family: var(--inter);
    color: var(--primary-text-dark);
}

.overlay button {
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    font-family: var(--inter);
    font-weight: 700;
    background-color: var(--btn-colors);
    color: var(--primary-text-dark);
    cursor: pointer;
}

.overlay button:hover {
    background-color: var(--btn-hover-colors);
}

/* navigation settings */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.numberPage {
    font-family: var(--inter);
    font-weight: 700;
    color: var(--secondary-text);
}

.navigation button {
    padding: .5rem;
    background-color: var(--btn-colors);
    color: var(--primary-text-dark);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
}

.navigation .disabledBtn, .navigation .disabledBtn:hover {
    background-color: var(--secondary-text);
    cursor: not-allowed;
}

.navigation button:hover {
    background-color: var(--btn-hover-colors);
}

/* notFoundScreen settings */
.notFoundContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: var(--nunito);
    color: var(--secondary-text);
}

.notFoundContainer span {
    font-size: 5rem;
}

/* lager screens */
@media screen and (min-width: 48rem) {
    .filter label {
        width: 50%;
    }
}